* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green: hsl(75, 94%, 57%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

body{
    font-family: "Inter", Courier;
    background-color: var(--off-black);
    display: flex;
    place-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    background-color: var(--dark-grey);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
}

.name {
    color: white;
}

.location {
    color: var(--green);
    font-weight: bold;
    padding-top: 0.5em;
}

.bio {
    color: white;
    padding-top: 2em;
    font-size: 14px;
}

.icon{
    display:flex;
}

#pfp-icon {
    border-radius: 50%;
    margin: auto;
    height: 50%;
    width: 50%;
}

.container-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    gap: 1rem;
}

.container-btn p{
    display: inline-block;
    background-color: var(--grey);
    border-radius: .35em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    width: 100%;
}

.container-btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.container-btn p:hover{
    background-color: var(--green);
    cursor: pointer;
}

.container-btn p:hover a{
    color: var(--off-black);
}